body {
    background-color: rgb(0, 0, 0);
    color: white;
}

#clock {
    font-family: 'Calligraffitti', cursive;
    color: violet;
    animation: rainbow 6s linear infinite alternate;
}

#jsonEditor{
    width: 60%;
    height: 600px;
}

.marquee {
    animation: scroll-left 10s linear infinite alternate;
}
.saved{
    background-color: #b5ffb5;
}
.edit{
    background-color: #fbffbe;
}
.changed{
    background-color: #ffcbcb;
}


@keyframes rainbow {
    0% {
        color: hsl(0, 100%, 80%);
    }
    25% {
        color: hsl(90, 100%, 80%);
    }
    50% {
        color: hsl(180, 100%, 80%);
    }
    75% {
        color: hsl(270, 100%, 80%);
    }
    100% {
        color: hsl(360, 100%, 80%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(110%);
        -webkit-transform: translateX(110%);
        transform: translateX(110%);
    }
    100% {
        -moz-transform: translateX(-110%);
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
    }
}